body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  /* font-family: "Fraunces", serif; */
}
.container {
  width: 700px;
  overflow: hidden;
  margin: 100px auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.product-img {
  background-image: url(./images/image-product-desktop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.product-details {
  align-self: center;
  margin-right: 28px;
}
.product-details_type {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: hsl(228, 12%, 48%);
  font-weight: bold;
}
.product-title {
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 0px;
  color: hsl(212, 21%, 14%);
}
.product-content {
  font-size: 18px;
  color: hsl(228, 12%, 48%);
  line-height: 28px;
  margin-bottom: 10px;
}
.price {
  display: flex;
  align-items: center;
  gap: 30px;
}
.price_new {
  font-size: 30px;
  font-weight: bold;
  color: hsl(158, 36%, 37%);
}

.price_old {
  font-size: 12px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}
.btn {
  background-color: hsl(158, 36%, 37%);
  border: none;
  width: 90%;
  padding: 15px 0;
  font-size: 20px;
  color: #fff;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 1s;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: hsl(158, 47%, 19%);
}

@media (max-width: 400px) {
  body {
    font-family: "Montserrat", sans-serif;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    width: 350px;
  }
  .product-img {
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
  }
  .product-details {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .product-details_type {
    font-size: 16px;
    margin-bottom: 0;
    align-self: flex-start;
  }
  .product-title {
    font-size: 30px;
    line-height: 28px;
    color: hsl(212, 21%, 14%);
  }
  .product-content {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .btn {
    margin-bottom: 20px;
    width: 100%;
    padding: 15px 0;
  }
}
